body {
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0px;
    /* background: #2c2c2c; */
    padding: 0px;
    /* linear-gradient(rgb(45, 45, 45), rgb(25, 25, 25)); */
    color: rgb(189, 189, 189);
    /* font-size: 12px; */
}

webview {
    background-color: whitesmoke;
}

button {
    color: rgb(235, 233, 233);
    /* background-color: rgb(78, 77, 77); */
    border-radius: 0.3em;    
    border-image:none;  
    border-style: none;
    background-color: #2c2c2c;
    border: 0.5px solid rgb(87, 86, 86);
}

button:hover{
    color: white;
    font-weight: bold;
}

button:active{
    background-color: #070707;
}

:root {
    --top-and-bottom: calc(100vh - 54px);
    --top: calc(100vh - 32px);
}

webview {
    /* border:solid 1px darkgray;
    border-left: unset;
    border-right: unset; */
}

#app {
    display: flex;
    flex-direction: row;
    height:100vh;
    overflow-x: hidden;
}

.gamePanel {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: solid 0.5px rgb(87, 86, 86);
    height: 100%
}    

.nodePanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;        
    overflow: auto;
    /* min-width: calc(15em + 300px); */
    /* margin-left: -0.5px; */
}

.nodePanel hr{
    /* width: calc(100% - 0.5px) */
    margin-left: -0.5px; 
}



.Component input[type="search"] {
    display: block;
    width: calc(100% - 8px);
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
    color: whitesmoke;
    background-color: black;
     /* whitesmoke; */
    border: 1px;
    border-radius: 0.4em;
}

.gameBtns {
    display: flex;
    padding: 4px;
    background-color: #484848;
}

.gameBtnsRight {
    /* flex:1; */
    /* align-content: flex-end; */
    /* border:solid 1px red; */
}

.gameBtnsLeft {
    flex: 1;
    padding-top: 1px;
}

.consolePanel{
    flex: 1 1 0%;
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: var(--top);
}

.nodePanel webview{
    flex: 1 1 0%;
    background-color: unset;
}

.consolePanel input[type="search"]{
    color: whitesmoke;
    background-color: #2c2c2c;
    border: 1px solid gray;
    border-radius: 0.3em;
}

.codeTips{
    position:absolute;
    bottom: 20;
    left: 0;
    right: 0;        
    background-color: rgb(46, 46, 46);      
    padding: 0.3em;          
    border-radius: 0.5em;
    box-shadow: 0 0 12px 1px black;
}

.helpPanel .helpTitle{
    font-weight: bold;
    color: lightblue;
}

.helpPanel a{
    word-wrap: break-word;
    word-break: break-all;
}

.codeTips .helpCon{
    display: flex;
    justify-content: space-between;
}
.codeTips .help{
    color: darkkhaki;
}

.tipsCon{
    max-height: 20em;
    overflow-y: auto;
}

.tipsCon span{
    color: rgb(150, 150, 150);
}

.codeTips .selected{
    background-color: black;
}

.consolePanel a{
    white-space: nowrap;
}

.consolePanel .topMenu{
    padding-left: 5px;
    /* text-align: left; */
}

.consolePanel .topMenu > input{
    margin-right: 0.5em;
}
.consolePanel .topMenu label{
    margin-right: 0.5em;
    white-space: pre;
}

.logs {
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;        
    font-size: 0.9em;
    background: #111111;
}

.gamePanel .logs{
    background: unset;
}

.logs .logTime {
    color: rgb(31, 154, 255);
}

.logItem:hover{
    background-color: black;
}

.logItem{
    padding-left: 4px;
    border-bottom: solid 0.5px rgba(196, 194, 194, 0.151);
    word-break: break-all;
    word-wrap: break-word;
}

.logItem .filter {
    /* font-weight: bold; */
    color: greenyellow;
    background-color: rgba(210, 105, 30, 0.658);
}

/* .logItem span{
    line-height: 1em;
} */

.tab {
    display: flex;
    padding: 4px;   
    padding-bottom: 0px;  
    align-items:stretch;   
    border-bottom: solid 0.5px rgb(87, 86, 86);
    white-space: nowrap;
    background-color: #484848;
}

.tabs{
    flex:1;        
    display: flex;
    align-items:stretch;        
}


.tabItem{
    display: inline-block;    
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 4px;
    user-select: none;
    cursor: pointer;
    background-color: #2c2c2c;
    /* line-height: 100%;     */
    /* height:100%; */
    background-color: #353535ac;
    color: #d4d4d4;
}

.tabs .selected{        
    background-color: #2c2c2c;
    border:0.5px solid rgb(87, 86, 86);
    border-bottom: 0;
    margin-bottom: -1px;
    
    cursor:default;
    color: whitesmoke;
}

.nodeTree {
    overflow: auto;
    min-width: 242px;
    max-height: var(--top-and-bottom);
    border-right: solid 0.5px rgb(87, 86, 86);
    flex: 1;
    scroll-behavior: smooth;
    /* position: relative;        */
}

.nodearrow {
    transition: transform 0.2s;
}

.nodearrow:hover{
    /* background-color: #2c2c2c;
    border-radius: 50%; */
    /* color: #ffffff; */
    text-shadow:-0.5px -0.5px 0px #ffffff
}

.node {
    font-size: 13px;
}

.searchPanel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    /* backdrop-filter: blur(30px); */
    padding: 0.1em;
    border-radius: 0.5em;
}

.searchItem{
    content-visibility: auto;
    height:43px;
    background-color: #6b6b6b41;
    /* contain: size; */
}

.searchBox {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.searchBox {
    border: solid 0.5px rgb(98, 100, 100);
    border-radius: 0.5em;
}

.searchBox input[type="search"] {
    color: white;
    flex: 1;
    background: none;
    outline: none;
    border: none;
    font-size: 0.9em;
}

.searchBox input[type="search"]:focus {
    outline: none;
}

.searchTitle{
    padding:0.3em;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
}

.searchTitle label{
    white-space: pre;
}
.searchList {
    padding:0.3em;
    padding-bottom: 0;
    overflow-y: auto;
    flex: 1;
    max-height: 15em;
}

.searchList .itemPath {
    /* color: gray; */
    font-size: 0.9em;
    /* opacity: 0.9; */
}


.inspectPanel {
    overflow: auto;
    overflow-x: hidden;
    font-size: 13px;
    min-width: 300px;
    /* width:auto;        
    max-width: 360px; */
    height: auto;
    max-height: var(--top-and-bottom);
    /* resize:horizontal; */
    /* padding:2px; */
}

.inspectPanel input[type="number"] {
    width: 7em;
}

.nodeName {
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: #2c2c2c;
    /* backdrop-filter: blur(30px); */
    border-bottom: solid 1px rgba(87, 86, 86);
}

.nodeName {
    display: flex;
    /* flex:1; */
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.nodeName label{
    display: flex;
}
.comProperty,
.nodeProperty {
    display: flex;
    align-items:center;
    color: whitesmoke;
    word-break: keep-all;
    white-space: nowrap;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    width: auto;
    
    /* white-space:pre-wrap; */
}

.comProperty input[type="color"]{
    background-color: unset;
}

.comProperty select{
    background-color: unset;
    color: whitesmoke;
    max-width: 13em;
}

.comProperty option{
    background-color: black;
    color: whitesmoke;
}


.comProperty:hover{
    background-color: black;
}


.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.nodePropertyTitle {
    display: inline-block;
    width: 5em;
    /* color: rgb(150, 150, 150); */
    /* color: lightgray; */
    color: rgb(189,189,189);
    word-wrap: break-word;
    /* word-break:normal; */
    white-space: pre-wrap;
    line-height: 0.95em;
    margin-right: 1px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.nodePropertyTitle::selection{
    background-color: #2553c9;
}

.comProperty .nodePropertyTitle {
    width: 8em;
}
.arrayItems .nodePropertyTitle{
    width:1em;
}

/* .comProperty */
a {
    color: rgb(14, 127, 233);
    cursor: pointer;
}

a:hover{
    color: rgb(52, 146, 235);
}

a:active{
    color: rgb(104, 170, 233);
}    

.nodePropertySubTitle {
    display: inline-block;
    width: 1em;
    text-align: center;
    line-height: 0.95em;
}
.nodePropertySubTitle > img{
    vertical-align: middle;
}


.colorRect{
    width:1em;
    height:1em;        
    display: inline-block;
    border-width: solid 1px black;   
}

.comProperty .nodePropertySubTitle {
    /* overflow-x: hidden; */
    /* display: inline-block; */
    width: auto;
    min-width: 100px;
    max-width: 172px;
    word-wrap: break-word;
    text-align: start;
    /* word-break:normal; */
    /* white-space: wrap; */
    line-height: 0.95em;
}
.comProperty .nodePropertySubTitle :hover {
    background-color: rgba(0, 0, 0, 0.29);
}
.prewrap{
    white-space: pre-wrap;
}
.nodePropertySubTitle .icon-wrong2{
    color: rgb(253, 94, 94);
}

.nodePropertySubTitle .icon-right{
    color: lightgreen;
}
.nodeTitle {
    /* pointer-events: none; */
    display: block;
    user-select: none;
    /* word-wrap:; */
    word-break: keep-all;
    white-space: nowrap
}

.nodeTitle:hover {
    background-color: rgb(124, 122, 122);
    /* background-color: #2c2c2c9e; */
    /* backdrop-filter: blur(35px); */
}

.dcDesc{
    font-weight: bold;
    color: wheat;
}

hr {
    width: calc(100% - 0px);
    padding: 0;
    margin: 0;
    border:none;
    border-bottom:solid 1px rgb(87, 86, 86);

    /* width: calc(100% - 1px);
    padding: 0;
    margin: 0;
    border-color: rgb(87, 86, 86);
    border-width: 0.5px; */

}

.settingDesc{
    color: gray;
    word-break: break-all;
}
.setting {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    max-height: calc(100%);
    width: 20em;
    max-width: calc(100vw - 32px);
    /* width: min(calc(100vw - 32px), 20em); */
    box-shadow: -1px 0 4px 0px black;
    background-color: #2c2c2c;
    /* backdrop-filter: blur(35px); */
    padding: 1em;
    padding-top: 0;
    display: flex;
    /* z-index:200; */
    flex-direction: column;
    user-select: none;
    overflow-y: auto;        
}

.setting textarea{
    width:100%;
    resize:vertical;
    max-height: 5em;
}

.setting b{
    color: whitesmoke;
}

.about{
    display: flex;
    /* z-index:200; */
    flex-direction: column;
    user-select: text;
}
.about .nodePropertyTitle{
    user-select: text;
    cursor: default;
    margin-bottom: 10px;
}

.setting .iconfont {
    cursor: pointer;
}

.settingHeader {
    display: flex;
    padding: 2px;
    padding-top: 1em;
    position: sticky;
    top:0;
    background-color: #2c2c2c;
    border-bottom:0.5px solid rgb(87, 86, 86);
}

.settingTitle {
    flex: 1;
    text-align: center;
    font-size: 2em;
    height: 1.4em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.settingTitle img{
    height:1em;
    width:1em;
    margin-right: 10px;
}

.setting label {
    margin-top: 0.5em;
    font-size: 14px;
}


.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .2s;
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active for below version 2.1.8 */
    {
    transform: translateX(20em);
    /* opacity: 0; */
}

.movingCover{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 1001;
}

.ResolutionResizer{
    position: fixed;
    top: 31px;
    left: 0px;
    resize: both;
    overflow: hidden;
    /* background-color: rgba(255, 217, 0, 0.555); */
    pointer-events: none;
    z-index: 1000;
    min-width: 280px;
    min-height: 200px;
}
.ResolutionSelector{
    position: absolute;
    top: 31px;
    right:5px;
    background-color: rgb(66, 66, 66);    
    /* backdrop-filter: blur(35px);   */
    padding: 0.3em;          
    border-radius: 0.5em;
    box-shadow: 0 0 12px 1px black;
    max-width: 15.5em;
}
.ResolutionSelector hr{
    margin-bottom: 0.5em;
}

.ResolutionSelector input[type="number"]{
    /* width: 100%; */
    /* margin: 0.3em; */
}

.resoItem{
    cursor: pointer;        
    border-radius: 0.5em;
    padding: 0.2em;
    display: flex;
    /* min-width: 200px; */
}

.flex1{
    flex:1;
}
.sizeName{
    display: flex;
    min-width: 200px;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
/* .sizeName .name{
    width:80px;
} */
.sizeName:hover{
    background-color: lightgrey;
    color: black;        
}


.cocosPanel{
    padding: 1em;
    max-height: var(--top);
    overflow-y:auto
}
.varsCon{
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 15em 15em
}

.localStorageCon{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
}

.varItem{
    /* width:10em; */
    word-break: break-all;
}
.varItemValue{
    color: lightgray;
}
.disable{
    color: gray;
}

.extensionPanel{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 1em;
}
.extensionPanel textarea{
    flex:1;
    width: 100%;
    resize: none;
}
.extensionPanel hr{
    margin-top: 1em;
    margin-bottom: 1em;
}

.nanStr{
    background:black;
    padding-left:10px;
    padding-right:10px;
    z-index:1000;
    color: white;
}

.localStorageTitle{
    color:white
}